# shellcheck shell=bash
# vim: set ft=sh:
# https://direnv.net/man/direnv-stdlib.1.html
# https://github.com/direnv/direnv/wiki

dotenv_if_exists
# source_env_if_exists .envrc.local

direnv_version 2.32.1
export VIRTUAL_ENV=venv
layout pyenv 3.8.12

TVM_DIR=compilers/tvm-main
NNFUSION_DIR=compilers/nnfusion-main
TOOLS_DIR=tools

PATH_add "$TOOLS_DIR"
path_add PYTHONPATH "$TVM_DIR/python"
path_add PYTHONPATH "$NNFUSION_DIR/src/python"

export TORCH_HOME=$(expand_path .cache/torch)

# strict_env [<command> ...]
# unstrict_env [<command> ...]

env_vars_required IMAGENET_ROOT
